<h1>Log in</h1>
<br></br>
<div class="row" >
  <div class="col-sm-4" >
    <%= form_tag sessions_path, method: "post" do %>
      <div class="input-group mb-3">
        <span class="input-group-text" id="span_username">账号</span>
        <input type="text" 
              name="username" 
              placeholder="username" 
              class="form-control" 
              id="form_username" 
              aria-label="username" 
              aria-describedby="span_username">
      </div>
      <br></br>
      <div class="input-group mb-3">
        <span class="input-group-text" id="span-password">密码</span>
        <input type="password" 
              name="password" 
              placeholder="password" 
              class="form-control" 
              id="form_password"
              aria-label="password"
              aria-describedby="span_password">
      </div>
      <br></br>
      <input type="submit" class="btn btn-primary" value="Log in" />
      <%= link_to "Sign up", new_user_path %>
    <% end %>
  </div>
  <div class="col-sm-8">
  </div>
</div>
