<h2>Admins#index</h2>
<br>
<strong><%= link_to 'Users list', admin_users_path %></strong>
<br>
<strong><%= link_to 'Damage files', people_path %></strong>
<br>
<strong><%= link_to 'Pits list', pits_path %></strong>
